.container{
    display: grid;
    box-sizing: border-box;
    border-style: hidden;
    margin: 20px;
    padding: 20px;
}

.petCategory{
    border-bottom-style:dotted;
    border-bottom-color: #f7c45f;
    font-size: x-large;
}



