.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 33.33%);
    box-sizing: border-box;
    border-style: dashed;
    border-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.petCategory{
    grid-column: 1 / 4;
    border-bottom-style:dotted;
    border-bottom-color: #f7c45f;
}

