a{
    color: black;
}
.itemContainer{
    height: 200px;
}

@media screen and (min-width: 500px){
    .itemContainer {
        width: 210px;
    }
}

@media screen and (min-width: 1000px){
    .itemContainer {
        width: 220px;
    }
}

@media screen and (min-width: 1200px){
    .itemContainer {
        width: 235px;
    }
}

@media screen and (min-width: 1350px){
    .itemContainer {
        width: 250px;
    }
}


.price{
    font-weight:bold;
    margin-top: 20px;
}