.itemDetailContainer{
     display: grid;
     grid-template-columns: 60% 40%;
     box-sizing: border-box;
 }

@media screen and (min-width: 500px){
    .itemDetailContainer {
        width: 450px;
    }
}

@media screen and (min-width: 1000px){
    .itemDetailContainer {
        width: 600px;
    }
}

@media screen and (min-width: 1350px){
    .itemDetailContainer {
        width: 700px;
    }
}

.name {
    margin-bottom: 100px;
    font-weight:bold;
}

.price{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight:bold;
}

.addToCartForm{
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    border: hidden;
    background-color: #ccda74;
    margin-bottom: 10px;

}

.addToCart{
    border-radius: 0px;
    border: 0px;
    padding: 10px 20px;
    color: black;
    font-weight: bolder;
    font-size: medium;
}

.description{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    grid-column: 1/3;
    border-top: solid 2px #ccda74;
}

@media screen and (min-width: 500px){
    .description {
        width: 450px;
    }
}

@media screen and (min-width: 1000px){
    .description {
        width: 600px;
    }
}

@media screen and (min-width: 1350px){
    .description {
        width: 700px;
    }
}


.descriptionTitle{
    margin-top: 20px;
    text-align: center;
}

.descriptionText{
    font-size: small;
    white-space: pre-line;

}
