.imageContainer{
    display: grid;
    grid-template-columns:repeat(4,25%);
    grid-row-gap: 20px;
    grid-column-gap: 2px;
    width: 250px;

}

.imageState{
    grid-column: 1/5;
    height: 200px;
    width: 200px;
    justify-self: center;
}

.imageButton{
    height: 50px;
    width: 50px;
}