.itemdetailcontainer{
    display: grid;
    grid-template-columns: 60% 40%;
    box-sizing: border-box;
}

.name {
    margin-bottom: 100px;
    font-weight:bold;
}

.price{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight:bold;
}

.addToCartForm{
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    border: hidden;
    background-color: #ccda74;
    margin-bottom: 10px;

}

.addToCart{
    border-radius: 0px;
    border: 0px;
    padding: 10px 20px;
    color: black;
    font-weight: bolder;
    font-size: medium;
}

.description{
    margin-top: 20px;
    grid-column: 1/3;
    border-top: solid 2px #ccda74;
    width: 700px;
    margin-bottom: 20px;
}

.descriptionTitle{
    margin-top: 20px;
    text-align: center;
}

.descriptionText{
    font-size: small;
}
