.imageContainer{
    display: grid;
    grid-template-columns:repeat(4,25%);
    grid-row-gap: 20px;
    grid-column-gap: 2px;
}

@media screen and (min-width: 500px){
    .imageContainer {
        width: 200px;
    }
}

@media screen and (min-width: 1000px){
    .imageContainer {
        width: 230px;
    }
}

@media screen and (min-width: 1200px){
    .imageContainer {
        width: 250px;
    }
}

@media screen and (min-width: 1350px){
    .imageContainer {
        width: 270px;
    }
}


.imageState{
    grid-column: 1/5;
    height: 200px;
    width: 200px;
    justify-self: center;
}

.imageButton{
    height: 50px;
    width: 50px;
}