.quantityForm{
    height: 25px;
}



.changeButton{
    height: 25px;
    width: 25px;
    border: solid #ffefb9 2px;

}

.quantity{
    width: 30px;
    display: inline-block;
    font-weight:bold;
    text-align:center;
}