  .login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
  }
  .login_form {
    height: 350px;
    width: 400px;
    border: 1px solid #ff8c00;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
.email {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  font-size: 15px;
}
.pwd {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  font-size: 15px;
}
  .confirm { 
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #ff8c00;
    color: #FFFFFF;
  }
  .sign_up {
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ff8c00;
    color: #FFFFFF;
  }