.container {
  display: flex;
  justify-content: center;
}

.button {
  width: 50%;
  height: 35px;
  font-size: 14px;
  background-color: #ff8c00;
  color: #ffffff;
}

.button:hover {
  background: #f7c45f;
}

.button:active {
  transform: translate(5px);
}
