.navBar {
    height: 60px;
    background-color: #ccda74;
}
.menu {
    display: flex;
    flex-flow: row nowrap;

    padding-top: 15px;
}
.navBar h3 {
    line-height: 30px;
    margin-left: 30px;
}
.ant-dropdown-link {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    font-family: Monospace;
}
