.topBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f7c45f;
    height: 80px;
}
.logo {
    order: 0;
    padding-top: 15px;
    padding-left: 70px;
}
.logo img {
    height: 50px;
    width: 50px;
}
.navbar {
    order: 1;
}
.search_form {
    display: inline-block;
    height: 40px;
}
.search_box {
    order: 2;
    width: 500px;
    padding-top: 20px;
    padding-left: 60px;
}

.search_text {
    width: 300px;
    height: 38px;
    padding: 0 5px;
    background: #ffffff;
    font-size: 15px;
}

.search_btn {
    width: 90px;
    font-family: Monospace;
}

.cart {
    order: 3;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #ff8c00;
    border-radius: 10px;
    padding-left: 3px;
    padding-top: 3px;
}

.account {
    order: 4;
    margin-top: 20px;
    margin-right: 70px;
    background-color: #ff8c00;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    padding-left: 3px;
    padding-top: 2px;
}
